body {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #0c121de8;
}
.main-container {
  margin: 10%;
  border-radius: 20px;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}
.gradient-bg {
  position: relative;
  inset: 0;
  background: radial-gradient(circle, rgba(12, 18, 29, 0) 40%, #0c121d 100%), 
              linear-gradient(to top, rgba(12, 18, 29, 0), #0c121d),
              linear-gradient(to bottom, rgba(12, 18, 29, 0), #0c121d),
              linear-gradient(to left, rgba(12, 18, 29, 0), #0c121d),
              linear-gradient(to right, rgba(12, 18, 29, 0), #0c121d);
}

/* aboutUser */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  color: #ffffff;
  background-image: linear-gradient(rgb(50, 50, 50, 0.7) 1px, transparent 0px),
    linear-gradient(to right, #323232b3 1px, #000 1px);
}
.about-title {
  font-size: 4rem;
  font-weight: 600;
  margin: 0.5rem !important;
}
.about-links-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.about-link {
  height: 1.5rem;
  width: 1.5rem;
  color: #ffffff;
}
/* card */
.card {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #1a202c;
  padding: 1.5rem;
  justify-content: space-between;
}
.card-title {
  /* font-size: 1.5rem; */
  font-weight: 600;
  color: #ffffff;
}

.card-description {
  color: #a0aec0;
  margin-top: 0.5rem;
  flex-grow: 1;
}

.card-link {
  color: #63b3ed;
  display: inline-block;
  text-decoration: none;
  height: 1rem;
  width: 1rem;
  padding-left: 0.5rem;
}
.card-techstack span {
  background-color: #47577661;
  border-radius: 0.5rem;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  margin-left: 0.2rem;
}
